<article class="product__card">
    <span class="product__brand"><img src="assets/img/logos/vegalite.svg" alt="VegaLite"
            class="product-brand__icon"></span>
    <a href="#" class="product-card__inner">
        <div class="product-card__images">
            <img src="assets/img/index/product.png" alt="" class="product-card__img product-card__img-1">
            <img src="assets/img/index/product2.png" alt="" class="product-card__img product-card__img-2">
        </div>
        <h3 class="product__title">Водосточная система 125/90&nbsp;мм</h3>
        <span class="product__description">125/90 мм</span>
        <div class="product__box">
            <div class="product__price">1999 <span class="product__currency">₽</span>
            </div>
            <button class="btn-reset small-btn">Подробнее</button>
        </div>
    </a>
</article>