.brand__block {
    position: relative;
}

.brand__title {
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: .1rem solid var(--light-gray-3);
}

.brand__content {
    display: flex;
    align-items: start;
    gap: 10rem;
    justify-content: space-between;
    font-size: 2.2rem;
    font-weight: 500;
}

.brand__logo {
    background: #fff;
    border-radius: 2rem;
    width: 38.6rem;
    height: 18.8rem;
    position: relative;
    flex-shrink: 0;
}
@media (max-width: 960px) {
    .brand__title {
            margin-bottom: 2rem;
        }
    
        .brand__content {
            gap: .2rem;
            font-size: 1.8rem;
        }
    
        .brand__logo {
            border-radius: 1.5rem;
            width: 27.7rem;
            height: 13.4rem;
        }
}
@media (max-width: 640px) {
    .brand__title {
        margin-bottom: 1.5rem;
    }

    .brand__content {
        gap: .2rem;
        font-size: 1.4rem;
        flex-direction: column;
    }

    .brand__logo {
        border-radius: 1.5rem;
        width: 9.1rem;
        height: 4.3rem;
        position: absolute;
        top: -1rem;
        right: 0;
        border-radius: .5rem;
    }
}
.brand__logo--lux {
    background: rgb(15, 12, 12);
    background: radial-gradient(circle, rgba(15, 12, 12, 1) 0%, rgba(83, 55, 22, 1) 50%, rgba(15, 12, 12, 1) 100%);
}


.brand__logo img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 31.5rem;
    max-height: 9.2rem;
}

.brand__description p {
    max-width: 106rem;
    margin-bottom: 3rem;
}

.brand__description ul li:not(:last-child) {
    margin-bottom: .7rem;
}

.brand__description ul li {
    display: flex;
    align-items: center;
    gap: 1.9rem;
    position: relative;
}

.brand__description ul li::before {
    content: '';
    flex-shrink: 0;
    display: flex;
    width: 3.6rem;
    height: 3.6rem;
    background-color: #fff;
    filter: drop-shadow(.2rem .2rem .7rem rgba(142, 142, 142, .18));
    border-radius: .5rem;
}

.brand__description ul li::after {
    content: '';
    flex-shrink: 0;
    display: flex;
    width: 3.6rem;
    height: 3.6rem;
    background-color: transparent;
    position: absolute;
    left: .15rem;
    background-image: url(../img/sprite.svg#icon4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
@media (max-width: 960px) {
    .brand__logo img {
            max-width: 22.6rem;
            max-height: 7rem;
        }
    
        .brand__description p {
            max-width: 43rem;
        }
    
}
@media (max-width: 640px) {
    .brand__logo img {
        max-width: 7.3rem;
        max-height: 2.1rem;
    }

    .brand__description p {
        max-width: 100%;
    }

}

.brand__description ul li:nth-child(1):after {
    background-image: url(../img/sprite.svg#icon4);

}
.brand__description ul li:nth-child(2):after {
    background-image: url(../img/sprite.svg#icon1);

}
.brand__description ul li:nth-child(3):after {
    background-image: url(../img/sprite.svg#icon2);

}
.brand__description ul li:nth-child(4):after {
    background-image: url(../img/sprite.svg#icon3);

}
.brand__block--lux .brand__description ul li:nth-child(3):after {
    background-image: url(../img/sprite.svg#iconbox);

}

.brand__block--lite .brand__description ul li:nth-child(3):after {
    background-image: url(../img/sprite.svg#iconsafety);

}

.brand__block--prom .brand__description ul li:nth-child(3):after {
    background-image: url(../img/sprite.svg#iconsafety);

}

.brand__block--prom .brand__description ul li:nth-child(4):after {
    background-image: url(../img/sprite.svg#iconcheck);
    top: .2rem;

}