@import '../css/components/product-card.css';

.popular__catalog .popular__title {
    max-width: 55rem;
    font-size: 4rem;
}



/* catalog  */
.catalog__content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 2rem;

}

.catalog__products {
    max-width: 119.5rem;
    position: relative;
}

@media (max-width: 960px) {
    .catalog__content {
        flex-direction: column;
        gap: 5.8rem;
    }

    .catalog__products {
        max-width: 100%;
        width: 100%;
    }
        .popular__catalog .popular__title {
            max-width: 48rem;
            font-size: 3.5rem;
        }
}

.custom-select-container {
    position: absolute;
    right: 0;
    top: -5rem;
}
@media (max-width: 640px) {
    .custom-select-container {
            top: -4rem;
        }
                .popular__catalog .popular__title {
                    max-width: 100%;
                    font-size: 2.8rem;
                }
}
.catalog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.catalog__sidebar {
    width: 38.5rem;
}

.sidebar__list {
    gap: .3rem;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

@media (max-width: 960px) {
    .catalog__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .catalog__sidebar {
        width: 100%;
    }

    .sidebar__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .3rem 2rem;
    }

    .catalog-sidebar__item:first-child {
        margin-top: 0;
    }
}
@media (max-width: 640px) {
    .catalog__list {
            grid-template-columns: repeat(1, 1fr);

        }
    
        .sidebar__list {
            grid-template-columns: repeat(1, 1fr);
            gap: .3rem;
        }
}

.catalog-sidebar__btn {
    width: 100%;
    background-color: #fff;
    font-size: 1.8rem;
    color: var(--black);
    gap: 1rem;
    justify-content: start;
    text-align: left;
    padding: 1rem;
}
@media (max-width: 960px) {
    .catalog-sidebar__btn {
            font-size: 1.6rem;
            
        }
}

/* Pagination  */

.pagination {
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-top: 3rem;
    justify-content: center;
}

.pagination__item {
    padding: 1.2rem 1.7rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 1.4rem;
    border: .1rem solid transparent;
    position: relative;
}

.pagination__item span,
.pagination__item svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.pagination__item:hover {
    border: .1rem solid var(--blue);
}

.pagination__item.active {
    background-color: var(--light-blue);
}

.pagination__item.active:hover {
    border: .1rem solid transparent;
}

.pagination__item--prev {
    transform: rotate(180deg);
}

.pagination__item--prev svg,
.pagination__item--next svg {
    width: 1.4rem;
    height: 1.4rem;
}
@media (max-width: 960px) {
.popular__catalog .swiper-btns {
    bottom: -7rem;
}
.popular__catalog {
    margin-bottom: 14rem;
} 
}