.payment {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 8rem;
}

.payment-info__text {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 3rem;
}

.payment-info__list {
    max-width: 79rem;
}
.payment-info__item {
    background-color: #fff;
    width: 100%;
    padding: 3rem;
    border-radius: 2rem;
    filter:drop-shadow(.2rem .2rem .7rem rgba(142, 142, 142, .18));
    color: var(--gray);
    
}
.payment-info__title {
display: flex;
    align-items: center;
    gap: 1.9rem;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--gray);
    margin-bottom: 2rem;
}
.payment-info__item:not(:last-child) {
margin-bottom: 2rem;
}
.payment-info__item svg{
    width: 3.6rem;
    height: 3.6rem;
}
.payment-info__icon {
    width: 3.6rem;
        height: 3.6rem;
        border-radius: .5rem;
        border: .1rem solid rgba(142, 142, 142, .18);
    filter: drop-shadow(0rem 0rem 1.3rem rgba(142, 142, 142, .18));
}

.payment-info-item__list {
    padding-left: 3rem;
    list-style-type: disc;
    font-size: 2.2rem;
    font-weight: 400;
}

.payment__contacts {
    width: 31rem;
    padding: 3rem;
    background-color: var(--light-blue);
    border-radius: 1.5rem;
} 

.payment-contacts__title, .payment-contacts__tel {
    font-size: 2.2rem;
    color: var(--black);
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.payment-contacts__tel {
    margin-bottom: 3rem;
    display: block;
}
.payment__contacts button {
    width: 100%;
}
@media (max-width: 960px) {
    .payment {
            flex-direction: column;
        }
        .payment__info {
            width: 100%;
        }
    
        .payment-info__text {
            font-size: 1.8rem;
        }
    
        .payment-info__list {
            max-width: 100%;
        }
    
        .payment-info__title {
            font-size: 1.8rem;
        }
    
        .payment-info__item:not(:last-child) {
            margin-bottom: 1rem;
        }
    
        .payment-info-item__list {
            padding-left: 2rem;
            font-size: 1.8rem;
        }
    
        .payment__contacts {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    
    
        .payment-contacts__tel {
            margin-bottom: 0;
            display: block;
        }
    
        .payment__contacts button {
            width: auto;
        }
}

@media (max-width: 640px) {
        .payment-info__text {
            font-size: 1.6rem;
        }
    
        .payment-info__item {
            padding: 2rem;
    
        }
        .payment-info__title {
            font-size: 1.6rem;
        }
        .payment-info-item__list {
            padding-left: 2rem;
            font-size: 1.4rem;
        }
    
        .payment__contacts {
            width: 100%;
            flex-direction: column;
            align-items: start;
            gap: 2rem;
            padding: 2rem;
            
        }
    
    .payment-contacts__title, .payment-contacts__tel {
font-size: 2rem;
    }
        .payment__contacts button {
            font-size: 2rem;
        }
}